* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* @font-face {
    font-family: PlayfairDisplay-SemiBold;
    src: url(../fonts/Playfair_Display/static/PlayfairDisplay-SemiBold.ttf);
}

@font-face {
    font-family: PlayfairDisplay-Black;
    src: url(../fonts/Playfair_Display/static/PlayfairDisplay-Black.ttf);
} */

.card {
    width: 400px;
    height: 300px;
    border-radius: 5px;
    border: 3px solid whitesmoke;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
    position: relative;
    /* transform-style: preserve-3d; */
    /* transition: transform 1000ms; */
    user-select: none;
    /* font-family: PlayfairDisplay-Black; */
    letter-spacing: 3px;
}

/* .card:hover {
    transform: rotateY(180deg);
} */

.card-back,
.card-front {
    width: 100%;
    height: 100%;
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
    position: absolute;
    text-align: center;
    /* -webkit-backface-visibility: hidden;
    backface-visibility: hidden; */
}

.card-back {
    background-color: #fb97ea;
    /* transform: rotateY(180deg); */
}

.card-back p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.card-front {
    background-color:#ff73e8;
}

.card-front p:nth-child(2),
.card-back p:nth-child(2) {
    font-size: 15px;
}

.card-front img {
    width: 300px;
    height: 200px;
    margin-top: 10px;
}



