.Changecards {
    background-color: rgb(255, 242, 255);
    color:grey;
    font-weight: lighter;
    width: 250px;
    height: 300px;
    padding-top: 10px;
    margin: 2rem;
    flex-direction: row;
    align-items: center;
  }